body{
    color: #383838;
    background-color: #ffffff;
    margin: 0%;
    width: 100%;
}

h1{
    color: #000000;
}


header{
    top: 0px;
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: #363636;
}

footer{
    bottom: 0px;
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: #363636;
    color: #ffffff;
}


.section_a {
    height: 400px; 
    background-color:#e4e4e4;
    width: 100%;
    padding: 0%;
}

.section_b {
    height: 400px; 
    width: 100%;
    padding: 0%;
}

.spacer_40px {
    height: 40px;
}

