body{
    color: #383838;
    background-color: #ffffff;
}

h1{
    color: #000000;
}

footer{
    display: inline;
    background-color: lightgrey;
    position: fixed;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

footer.h1{
    color: white;
}